body {
    margin-bottom:200%;
    background-color: rgb(51, 51, 51);
}

.text {
    width: 700px;
    height: 700px;
    border: none;
background-color: silver;
}

.iFrames {
    display: block;
    margin: 0 auto;
    border: 0;
}

#iFrame_input, #iFrame_output {
    display:inline-block;
    background-color: white;
}


::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid lightgreen;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: lightgreen;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #C0C0C0;
}

button {
    padding: 10px 25px;
    border-radius: 10px;
}

/*
.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}*/